_wandb:
    value:
        cli_version: 0.22.3
        e:
            abqaaznvvt59dr8z08aqfakg8crym0va:
                codePath: examples/sft/train_phi_from_features.py
                codePathLocal: examples/sft/train_phi_from_features.py
                cpu_count: 56
                cpu_count_logical: 112
                cudaVersion: "12.4"
                disk:
                    /:
                        total: "429496729600"
                        used: "6713180160"
                email: 3190105419@zju.edu.cn
                executable: /opt/venv/openvla-oft/bin/python
                git:
                    commit: ea6ac333ba57d3078d823e1236a792db8219377d
                    remote: https://github.com/Plankson/RLinf.git
                gpu: NVIDIA A800-SXM4-80GB
                gpu_count: 2
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 6912
                      memoryTotal: "85899345920"
                      name: NVIDIA A800-SXM4-80GB
                      uuid: GPU-9f5acf3d-7111-4557-fe1b-da5228290a20
                    - architecture: Ampere
                      cudaCores: 6912
                      memoryTotal: "85899345920"
                      name: NVIDIA A800-SXM4-80GB
                      uuid: GPU-d26887e3-4490-5357-b095-08e1f0bec160
                host: app-40caa184494c4577bcd330b7db7b1047-68b6b64655-498mt
                memory:
                    total: "1081555312640"
                os: Linux-4.18.0-425.3.1.el8.x86_64-x86_64-with-glibc2.35
                program: /data/users/qingyunpeng/code/RLinf/examples/sft/train_phi_from_features.py
                python: CPython 3.11.14
                root: /data/users/qingyunpeng/code/RLinf
                startedAt: "2026-02-04T14:38:28.748715Z"
                writerId: abqaaznvvt59dr8z08aqfakg8crym0va
        m: []
        python_version: 3.11.14
        t:
            "1":
                - 1
                - 2
                - 3
                - 11
                - 30
                - 41
                - 49
                - 50
                - 63
                - 71
                - 105
            "2":
                - 1
                - 2
                - 3
                - 11
                - 30
                - 41
                - 49
                - 50
                - 63
                - 71
                - 105
            "3":
                - 13
                - 16
            "4": 3.11.14
            "5": 0.22.3
            "6": 4.40.1
            "12": 0.22.3
            "13": linux-x86_64
actor:
    value:
        enable_offload: true
        fsdp_config:
            amp:
                enabled: false
                precision: bf16
                use_grad_scaler: false
            backward_prefetch: null
            cpu_offload: false
            enable_gradient_accumulation: true
            forward_prefetch: false
            fsdp_size: -1
            gradient_checkpointing: true
            limit_all_gathers: false
            mixed_precision:
                buffer_dtype: bf16
                param_dtype: bf16
                reduce_dtype: bf16
            offload_pin_memory: false
            reshard_after_forward: true
            sharding_strategy: full_shard
            strategy: fsdp
            use_liger_kernel: false
            use_orig_params: false
        global_batch_size: 16384
        group_name: ActorGroup
        micro_batch_size: 32
        model:
            action_dim: 7
            add_progress_heads: true
            add_value_head: false
            attn_implementation: flash_attention_2
            center_crop: true
            hidden_size: 4096
            image_size:
                - 224
                - 224
            implement_version: rlinf
            is_lora: false
            lora_path: null
            lora_rank: 32
            low_cpu_mem_usage: true
            max_prompt_length: 128
            model_path: /data/users/qingyunpeng/model/openvla-oft/Openvla-oft-SFT-libero10-traj1/
            model_type: openvla_oft
            num_action_chunks: 8
            num_images_in_input: 1
            policy_setup: widowx_bridge
            precision: bf16
            progress_hidden_dim: 256
            progress_num_blocks: 2
            progress_output_dim: 4
            trust_remote_code: true
            unnorm_key: libero_10_no_noops
            use_film: false
            use_proprio: false
            value_type: action_level
            vocab_size: 32000
        optim:
            adam_beta1: 0.9
            adam_beta2: 0.999
            adam_eps: 1e-08
            clip_grad: 1
            lr: 2e-05
            value_lr: 0.003
            weight_decay: 0.01
        seed: 1234
        training_backend: fsdp
algorithm:
    value:
        adv_type: grpo
        clip_ratio_c: 3
        clip_ratio_high: 0.28
        clip_ratio_low: 0.2
        entropy_bonus: 0
        entropy_type: token_level
        eval_rollout_epoch: 1
        filter_rewards: true
        gae_lambda: 0.95
        gamma: 0.99
        group_size: 8
        huber_delta: 10
        kl_beta: 0
        kl_penalty: kl
        length_params:
            max_length: 1024
            max_new_token: null
            min_length: 1
        logprob_type: token_level
        loss_agg_func: token-mean
        loss_type: actor
        normalize_advantages: true
        reward_coef: 5
        reward_type: action_level
        rewards_lower_bound: 0.5
        rewards_upper_bound: 4.5
        rollout_epoch: 4
        sampling_params:
            do_sample: true
            repetition_penalty: 1
            temperature_eval: 1.6
            temperature_train: 1.6
            top_k: -1
            top_p: 1
        value_clip: 0.2
cluster:
    value:
        component_placement:
            actor,env,rollout: all
        num_nodes: 1
critic:
    value:
        use_critic_model: false
data:
    value:
        batch_size: 64
        chunk_size: 8
        is_chunk: true
        path:
            - /data/users/qingyunpeng/dataset/modified_libero_rlds/libero_10_no_noops/1.0.0/
        suffle: true
reward:
    value:
        intrinsic_reward:
            coef: 1
            contrastive_coef: 1
            contrastive_temp: 0.05
            goal_ema_decay: 0.99
            intrinsic_reward_transform_type: scalar_tanh_0_to_1_total
            max_prompt_length: 128
            phi_beta: 3
            phi_checkpoint: /data/users/qingyunpeng/model/openvla-oft/Openvla-oft-SFT-libero10-traj1/phi_heads_preencoded_latest.pt
            phi_clip_weight: 100
            phi_expectile: 0.7
            phi_loss_coef: 1
            phi_model_type: libero_phi_model
            phi_target_tau: 0.005
            supervised_coef: 0.3
        use_reward_model: false
rollout:
    value:
        enable_offload: true
        generation_backend: huggingface
        group_name: RolloutGroup
        model:
            model_path: /data/users/qingyunpeng/model/openvla-oft/Openvla-oft-SFT-libero10-traj1/
            precision: bf16
        pipeline_stage_num: 1
runner:
    value:
        ckpt_path: null
        logger:
            experiment_name: libero_10_offline_openvlaoft
            log_path: ../results
            logger_backends:
                - wandb
            project_name: rlinf
        max_epochs: 20000
        max_steps: -1
        only_eval: false
        resume_dir: null
        save_interval: 5000
        task_type: embodied
        val_check_interval: -1
